/**
  面向该项目的全局样式文件，负责保存全局的样式、样式变量和样式集合
  已集成HXUI样式变量（variable.scss）和样式集合（mixin.scss）
 */
@import "./../hxui/scss/variable.scss";

.pad-article {
  padding: $pm-md $pm-bg $pm-md $pm-md;
  max-width: 860px;
  margin: 0 auto;
  > .title {
    font-size: $font-bg * 2;
    line-height: 1;
    margin: $pm-bg 0 $pm-sm;
  }
  .desc {
    color: $color-dark;
    font-size: $font-md;
    line-height: 1.8;
    text-align: justify;
  }
  em {
    background-color: white;
    border: 1px solid $color-gray;
    padding: 0 $pm-sm/2;
    line-height: 1.6;
    font-weight: 600;
    border-radius: $pm-sm/2;
  }
  a {
    color: $color-blue;
    font-weight: 500;
    &:hover {
      color: $color-main;
    }
  }
  .section {
    margin: $pm-bg*2 0;
    > .title {
      font-size: $font-lg;
      display: block;
      width: 100%;
      margin-bottom: $pm-md;
    }
    // 内容预览区
    .pad-preview {
      border: 1px solid $color-gray;
      border-radius: $pm-sm;
      margin: $pm-md 0 $pm-bg;
      overflow: hidden;
      // demo区
      .demo {
        background-color: rgba(255,255,255,.1);
        padding: $pm-bg;
      }
      // 代码区
      .code {
        background-color: #282c33;
        padding: $pm-md;
        .tips {
          background-color: rgba(255,255,255,.1);
          display: block;
          width: 100%;
          padding: $pm-sm*1.5 $pm-md;
          color: rgba(255,255,255,.4);
          font-size: $font-md;
          border-radius: $pm-sm/2;
          margin-bottom: $pm-md;
        }
        .tips em {
          background-color: rgba(255,255,255,.15);
          color: rgba(255,255,255,.65);
          border: none;
        }
        .detail {
          margin: 0;
          display: flex;
          code {
            display: inline-block!important;
            width: 100%;
            padding: 0 $pm-md;
          }
        }
      }
    }
    // 属性或表格区
  }
  .annotation {
    padding: $pm-sm $pm-md;
    color: $color-gray-deep;
    font-size: $font-md;
    display: block;
    width: 100%;
  }
  .hx-button + .hx-button {
    margin-left: 8px;
  }
}

.bg-outstanding {
  background-color: rgba($color-red, .1)!important;
}

.btn-toggle-catalog {
  display: none;
}

.aside-catalog {
  width: 240px;
  display: inline-block;
  padding: $pm-md 0;
}
.pad-home-main {
  width: calc(100% - 245px);
  float: right;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 640px) {
  .pad-article {
    padding: $md;
    & > .section {
      margin-top: $lg;
      .title {
        margin-bottom: $md;
      }
      .pad-preview {
        & > .demo {
          padding: $bg $md $md;
        }
      }
    }
  }
  .aside-catalog {
    display: block;
    position: fixed;
    height: calc(100% - #{$height-navbar});
    background-color: white;
    z-index: 10;
    border: 1px solid $color-gray-light;
    left: 0;
    transform: translate(-100%);
    transition: transform .4s;
    &.show {
      transform: translate(0);
    }
  }
  .btn-toggle-catalog {
    background-color: rgba(255, 255, 255, .6);
    box-shadow: $shadow-md;
    border-radius: $regular;
    display: block;
    position: fixed;
    left: $md;
    bottom: $md;
    height: $regular;
    width: $regular;
    padding: $pm-sm;
    .icon {
      height: 100%;
      width: 100%;
    }
    z-index: 10;
  }
}
