/**
  面向该项目的全局样式文件，负责保存全局的样式、样式变量和样式集合
  已集成HXUI样式变量（variable.scss）和样式集合（mixin.scss）
 */
@import "./../hxui/scss/variable.scss";

.pad-article {
  padding: $pm-md $pm-bg $pm-md $pm-md;
  > .title {
    font-size: $font-bg * 2;
    line-height: 1;
    margin: $pm-bg 0 $pm-sm;
  }
  .desc {
    color: $color-dark;
    font-size: $font-md;
    line-height: 1.8;
    text-align: justify;
  }
  em {
    background-color: white;
    border: 1px solid $color-gray;
    padding: 0 $pm-sm/2;
    line-height: 1.6;
    font-weight: 600;
    border-radius: $pm-sm/2;
  }
  .section {
    margin: $pm-bg*2 0;
    > .title {
      font-size: $font-lg;
      display: block;
      width: 100%;
      margin-bottom: $pm-md;
    }
    // 内容预览区
    .pad-preview {
      border: 1px solid $color-gray;
      border-radius: $pm-sm;
      margin: $pm-md 0 $pm-bg;
      overflow: hidden;
      // demo区
      .demo {
        background-color: rgba(255,255,255,.1);
        padding: $pm-bg;
      }
      // 代码区
      .code {
        background-color: #282c33;
        padding: $pm-md;
        .tips {
          background-color: rgba(255,255,255,.1);
          display: block;
          width: 100%;
          padding: $pm-sm*1.5 $pm-md;
          color: rgba(255,255,255,.4);
          font-size: $font-md;
          border-radius: $pm-sm/2;
          margin-bottom: $pm-md;
        }
        .tips em {
          background-color: rgba(255,255,255,.15);
          color: rgba(255,255,255,.65);
          border: none;
        }
        .detail {
          margin: 0;
          display: flex;
          code {
            display: inline-block!important;
            width: 100%;
            padding: 0 $pm-md;
          }
        }
      }
    }
    // 属性或表格区
  }
}

.bg-outstanding {
  background-color: rgba($color-red, .1)!important;
}

@media screen and (max-width: 640px) {
  .pad-article {
    padding: $md;
    & > .section {
      margin-top: $lg;
      .title {
        margin-bottom: $md;
      }
      .pad-preview {
        & > .demo {
          padding: $bg $md $md;
        }
      }
    }
  }
}
